.cart-wrapper {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 50px;
}
h2,
h3 {
    display: block;
    text-align: center;
    margin-top: 20%;
}
